:host {
  color: inherit;
}

.icon-svg {
  position: absolute;
  width: 16px;
  top: 1px;
  left: 1px;
}

.icon--sm {
  width: 12px;
  height: 16px;
}

.icon--md {
  width: 16px;
  height: 20px;
}

.icon--lg {
  width: 24px;
  height: 28px;
}
