:host {
  display: inline-flex;
  position: relative;
  line-height: 0;
  flex: 0 0 auto;
  color: inherit;
}

.icon-svg {
  display: block;
  width: 100%;
  height: 100%;
  position: static;
}

.icon--sm {
  width: 12px;
  height: 12px;
}

.icon--md {
  width: 16px;
  height: 16px;
}

.icon--lg {
  width: 24px;
  height: 24px;
}
