:host {
  display: inline-block;
}
/* Base */
.toggle {
  cursor: pointer;
  border-radius: 20px;
  position: relative;
  transition: all 0.2s;
  background-color: var(--ui-toggle-track-bg);
}

.checked-icon {
  position: absolute;
  inset: 0 auto 0 0;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  pointer-events: none;
  color: var(--ui-toggle-icon-color);
}

.checked-icon ui-icon {
  display: block;
}

/* Sizes */
.toggle--sm {
  width: 27px;
  height: 16px;
}

.toggle--md {
  width: 36px;
  height: 20px;
}

.toggle--lg {
  width: 52px;
  height: 28px;
}

/* Thumb */
.toggle__thumb {
  position: absolute;
  background: var(--ui-toggle-thumb-bg);
  border-radius: 50%;
  transition: all 0.2s;
}

/* Thumb sizes */
.toggle--sm .toggle__thumb {
  width: 12px;
  height: 12px;
  top: 2px;
  left: 2px;
}

.toggle--md .toggle__thumb {
  width: 16px;
  height: 16px;
  top: 2px;
  left: 2px;
}

.toggle--lg .toggle__thumb {
  width: 24px;
  height: 24px;
  top: 2px;
  left: 2px;
}

.toggle--checked {
  background-color: var(--ui-toggle-track-checked-bg) !important;
}

.toggle--checked .toggle__thumb {
  transform: translateX(100%);
}

/* Disabled */
.toggle--disabled {
  opacity: 0.5;
  pointer-events: none;
  background-color: var(--ui-toggle-track-disabled-bg) !important;
}
