:host {
  display: inline-block;
}

.input {
  width: 100%;
  padding: 8px;
  background: var(--ui-bg);
  color: var(--ui-text);
  border: 1px solid var(--ui-border-color);
  border-radius: var(--ui-border-radius);
  outline: none;
}

.input:focus {
  border-color: var(--ui-primary-hover);
}

.input:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
