@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-size: 13px;
}

* {
  box-sizing: border-box;
}

.focus-ring {
  box-shadow: 0 0 0 3px var(--bridge-ui-ring);
}

*::-webkit-scrollbar {
  display: none !important;
}

* {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}
